.button {
  color: rgb(7, 7, 105);
  font-size: 16px;
  border: 0.1em solid rgb(7, 7, 105);
  background-color: white;
  border-radius: 0.5em;
  width: 15em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1rem;
}

.button-mobile {
  background-color: white;
  color: rgb(7, 7, 105);
  border-radius: 0.5em;
  width: 11em;
  height:3em;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 0.1em solid rgb(7, 7, 105);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.button-mobile:active {
  background-color: rgb(7, 7, 105) ;
  color: white;
}

.button-filter {
  color: white;
  font-size: 1rem;
  text-align: center;
  border: 0.1em solid white;
  background-color: rgb(7, 7, 105);
  border-radius: 100%;
  width: 2.8rem;
  height: 2.8rem;
  text-align: center;
  cursor: pointer;
}
.button-filter i {
  margin: auto;
}
.button-filter:hover {
  color: rgb(7, 7, 105);
  border: 0.1em solid rgb(7, 7, 105);
  background-color: white;
  cursor: pointer;
}

.button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: rgb(7, 7, 105);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.button:hover {
  color: white;
  cursor: pointer;
}

.button:hover span {
  transform: translateY(0) scale(2);
}

.button span:nth-child(1) {
  --n: 1;
}

.button span:nth-child(2) {
  --n: 2;
}

.button span:nth-child(3) {
  --n: 3;
}

.button span:nth-child(4) {
  --n: 4;
}

@media screen and (max-width: 500px) {
	.button {
    margin: auto;
    margin-top: 1em;
	}
}
