 .Footer {
  background-color: rgba(255, 255, 255, 0.548);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 1em;
}

.credits {
  margin-top: 0.5em;
  display: flex;
  align-items: baseline;
}

.mentions {
  font-size: 0.8em;
  margin-top: 0.5em;
}

.footer-bottom {
  background-color: rgba(255, 255, 255, 0.548);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
} 

.footer-link {
  color: white;
  text-decoration-line: none;
  margin: 0 5px;
}

.fa-heart {
  color: rgb(192, 9, 9);
  margin: 0 5px;
}

.footer-social {
  font-size: 1.5em;
}

.fa-github-square, .fa-linkedin {
  cursor: pointer;
}

.fa-linkedin {
  color: rgb(56, 118, 233);
}

.fa-github-square {
  color: black;
}

.fa-linkedin:hover {
  color: white;
}

.fa-github-square:hover {
  color: white;
}

.team {
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.team-group {
  display: flex;
  align-items: center;
}

@media (max-width: 1025px) {
  .footer-bottom {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .Footer, .footer-bottom {
    bottom: 0;
    color: black;
    font-size: 10px;
  }

  .mentions {
    padding-left: 1em;
    padding-right: 1em;
  }

  .credits {
    align-items: baseline;
  }

  .team {
    display: block;
  }

  .footer-social {
    font-size: 1.8em;
  }
}