.FilterDrink {
  display: flex;
  margin-top: 25px;
  padding: 10px;
  align-items: baseline;
  justify-content: space-around;
}

select {
  margin: 25px;
  width:20%;
  padding:12px;
  margin-top:8px;
  line-height:1;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size:16px;
  -webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  outline:none
}

.checkbox {
  display: flex;
}
.checkbox p{
  vertical-align: middle;
  padding-top: 3px;
  margin-right: 0.5rem;
}
.checkbox-group {
  margin: 0 15px;
}

.checkbox-item{
  padding: 10px;
}

.FilterDrink button {
  background: #245275;
  color: white;
  width: 20%;
  border-radius: 12px;
  padding: 10px 0;
  font-size: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media screen and (max-width: 800px) {
  .FilterDrink {
    flex-direction: column;
  }

  select {
    width: 90%;
    margin: 10px auto;
  }

  .checkbox-group {
    font-size: 12px;
  }

  .checkbox-item {
    padding: 6px;
  }

  .checkbox {
    margin: 10px 0;
  }

  .FilterDrink button {
    width: 100%;
  }
}
