.FilterDrink {
  display: flex;
  margin-top: 25px;
  padding: 10px;
  align-items: baseline;
  justify-content: space-around;
}

select {
  margin: 25px;
  width:20%;
  padding:12px;
  margin-top:8px;
  line-height:1;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size:16px;
  -webkit-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  -moz-box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  outline:none
}

.toggle {
  margin: 0 0 1.5rem;
  box-sizing: border-box;
  font-size: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}
.toggle input + label {
  margin: 0;
  padding: .75rem 2rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  box-shadow: 0 0 0 rgba(255, 255, 255, 0);
  transition: border-color .15s ease-out,  color .25s ease-out,  background-color .15s ease-out, box-shadow .15s ease-out;
}
.switch-field {
	display: flex;
	margin-bottom: 36px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: white;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
  color : white;
	background-color: #245275;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}



@media screen and (max-width: 800px) {
  .FilterDrink {
    flex-direction: column;
  }

  select {
    width: 90%;
    margin: 10px auto;
  }

  .checkbox-group {
    font-size: 12px;
  }

  .checkbox-item {
    padding: 6px;
  }

  .checkbox {
    margin: 10px 0;
  }

  .FilterDrink button {
    width: 100%;
  }
}
