.FilterDisplay {
  background-color:rgba(255, 255, 255, 0.7);
  width: 90%;
  max-width: 48rem;
  padding-bottom: 1rem;
  border-radius: 12px;
  margin: 50px auto;
  position: relative;

}

.top-box {
  margin-left: 25px;
  text-align: left !important;
  display: flex;
  font-size: 20px;
}

.title-box {
  padding: 10px 25px;
}

