.FilterButtons {
  display: flex;
  margin: 10px;
}

.FilterButtons button {
  border: none;
  padding: 10px 25px;
  font-size: 20px;
  border-bottom: 2px solid transparent;
}

.active {
  border-bottom: 2px solid rgb(7, 7, 105) !important;
}