@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.Notice {
  /* background-color: rgba(255, 255, 255, 0.644); */
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 5rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice-text h1 {
  margin: 20px 0;
  line-height: 50px;

  font-weight: 400;
  font-style: normal;
  color: white;
  text-transform: uppercase;
  margin: 2rem 0;
  font-family: 'Permanent Marker', cursive !important;
}

.notice-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notice-button span {
  color: white;
}

@media (max-width: 415px) {
  .Notice {
    width: 95%;
    padding: 1rem 0;
  }

  .notice-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Notice span {
    padding-top: 10px;
  }

  .notice-text {
    margin: 10px 0;
    padding: 0 10px;
  }
}

@media (max-width: 321px) {
  .notice-text {
    font-size: 12px;
    line-height: 35px;
  }
}