.Notice {
  background-color: rgba(255, 255, 255, 0.644);
  width: 80%;
  margin: 0 auto 20px auto;
  padding: 5rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notice-text {
  margin: 20px 0;
  line-height: 50px;
}

.notice-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 415px) {
  .Notice {
    width: 95%;
    padding: 1rem 0;
  }

  .notice-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .Notice span {
    padding-top: 10px;
  }

  .notice-text {
    margin: 10px 0;
    padding: 0 10px;
  }
}

@media (max-width: 321px) {
  .notice-text {
    font-size: 12px;
    line-height: 35px;
  }
}