.FilterDrink {
  display: flex;
  padding: 10px;
  align-items: baseline;
  justify-content: space-around;
}

.FilterDrink select {
  margin: 1.2rem;
  margin-top:0.5rem;
  width: 28%;
  padding: 0.8rem;
  line-height:1;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size:16px;
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  outline:none;
  cursor: pointer;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: white;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  text-align: center;
  padding: 10px 16px;
  margin-right: -2px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  color : white;
  background-color:  rgb(7, 7, 105);
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 15px 0 0 15px;
}

.switch-field label:last-of-type {
  border-radius: 0 15px 15px 0;
}


@media (min-width: 401px) and (max-width: 699px) {
  .FilterDrink {
    flex-direction: column;
    align-items: center;
  }

  .FilterDrink select {
    width: 20rem;
    max-width: 80%;
    margin: 10px auto;
  }

  .switch-field {
    margin: 1rem auto;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .FilterDrink {
    flex-direction: column;
    align-items: center;
  }
  
  .FilterDrink select {
    width: 20rem;
    max-width: 80%;
    margin: 10px auto;
  }

  .switch-field {
    margin: auto;
    margin-bottom: 0.7rem;
    width: 8.4rem;
    display: flex;
    flex-direction: column;
  }

  .switch-field label {
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    line-height: 1;
    text-align: center;
    padding: auto;
    margin-bottom: -3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
  }
  
  .switch-field input:checked + label {
    color : white;
    background-color:  rgb(7, 7, 105);
    box-shadow: none;
  }

  .switch-field label:first-of-type {
    border-radius: 15px 15px 0 0;
  }
  
  .switch-field label:last-of-type {
    border-radius: 0 0 15px 15px;
  }
}