.FilterMovie {
  display: flex;
  padding: 10px;
  align-items: baseline;
  justify-content: space-around;
}

.FilterMovie select {
  margin: 1.2rem;
  margin-top:0.5rem;
  width: 28%;
  padding: 0.8rem;
  line-height:1;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size:16px;
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  outline:none;
  cursor: pointer;
}

.search-movies {
  width: 36%;
}

.input-movies {
  border-radius: 0 13px 13px 0;
  border: 1px solid  rgb(7, 7, 105);
  height: 37px;
  width: 60%;
  font-size: 16px;
  padding-left: 10px;
  outline: transparent;
}

.label-movies {
  display: inline-block;
  width: 5rem;
  border-radius: 13px 0 0 13px;
  border: 3px solid  rgb(7, 7, 105);
  background-color:  rgb(7, 7, 105);
  color: white;
  padding: 4px 10px 4px 10px;
}

@media screen and (max-width: 799px) {
  .FilterMovie {
    flex-direction: column;
    margin-top: 6px;
    align-content: center;
  }

  .search-movies {
    width: 25rem;
    max-width: 92%;
    margin: 10px auto;
  }

  .FilterMovie select {
    width: 20rem;
    max-width: 80%;
    margin: 10px auto;
  }

  .checkbox-group {
    font-size: 12px;
  }

  .checkbox-item {
    padding: 6px;
  }

  .checkbox {
    margin: 10px 0;
  }

  .FilterMovie button {
    width: 100%;
  }
}
