.FilterRecipe {
  display: flex;
  padding: 10px;
  align-items: baseline;
  justify-content: space-around;
}

.FilterRecipe select {
  margin: 1.2rem;
  margin-top:0.5rem;
  width: 28%;
  padding: 0.8rem;
  line-height:1;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  font-size:16px;
  box-shadow: 10px 10px 33px -2px rgba(0,0,0,0.44);
  outline:none;
  cursor: pointer;
}

.checkbox {
  display: flex;
}

.checkbox-group {
  margin: 0 15px;
}

.checkbox-item{
  padding: 10px;
}

@media screen and (max-width: 699px) {
  .FilterRecipe {
    flex-direction: column;
    margin-top: 6px;
    align-content: center;
  }

  .FilterRecipe select {
    width: 20rem;
    max-width: 80%;
    margin: 10px auto;
  }

  .checkbox-group {
    font-size: 12px;
  }

  .checkbox-item {
    padding: 6px;
  }

  .checkbox {
    margin: 10px 0;
  }

  .FilterRecipe button {
    width: 100%;
  }
}
