.FilterButtons {
  display: flex;
  justify-content: space-around;
}

.FilterButtons button {
  color:  rgb(7, 7, 105);
  border: none;
  padding: 20px 25px 10px 25px;
  font-size: 20px;
  border-bottom: 2px solid transparent;
  background-color:  rgba(255, 255, 255, 0);
  cursor: pointer;
}

.FilterButtons button:hover {
  color: white;
}

.active {
  border-bottom: 2px solid rgb(7, 7, 105) !important;
}

.button-filter-menu:hover {
  color: white;
}

@media screen and (max-width: 650px) {
  .FilterButtons button {
    font-size: 15px;
    padding: 10px;
  }
}