@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.body {
  flex: 1;
}
button {
  outline: transparent;
}

.button-filter {
  margin: 0 0 10px 10px;
}

.notice-button {
  margin-top: 5rem;
}

.FilterDisplay {
  background-color:rgba(255, 255, 255, 0.7);
  width: 90%;
  max-width: 48rem;
  margin-bottom: 1.2rem;
  border-radius: 12px;
  margin: 50px auto;
  position: relative;
}

.scroll-to-top {
  position: fixed;
  bottom: 6.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  margin: 0 0.5em 0 0;
  background-color: white;
  border-radius: 50%;
}

.fa-arrow-alt-circle-up {
  color: rgb(7, 7, 105);
  font-size: 2rem;
  border: solid 1px white;
  border-radius: 50%;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media(max-width: 500px) {
  .FilterDisplay {
    margin: 10px auto;
  }

  .notice-text h1 {
    margin: 0;
  }
  .fa-arrow-alt-circle-up {
    font-size: 2rem;
  }

  .notice-button {
    margin-top: 0;
  }
}