.App {
  text-align: center;
  background-image: url(./images/pop-corn.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-position: bottom;
<<<<<<< HEAD
  min-height: 150vh;
=======
  min-height: 150vh
>>>>>>> ee3b865ae02bef2131abd2e4213539d89474ce90
}

.punchline {
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 25px;
  text-transform: uppercase;
  margin: 2rem 0;
}

@media (min-width: 800px) {
  .App{
    min-height: 120vh;
  }
}
