@import url("https://use.typekit.net/obx8smn.css");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: adelle-sans, sans-serif;
}

html {
  height: 100%;
}

body {
  background-image: url(./images/jr-korpa-stwHyPWNtbI-unsplash.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  background-size: cover;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
